
            body {
            	background-color:blue;
                margin:50px 0px; padding:0px;
                text-align:center;
            }
            
			 
			 hr {	
 				border: 1px solid #f1f1f1;
				  margin-bottom: 25px;
				}
			 
			 .container {
  				padding: 16px;	
				}
			 
			 .btn {
  			background-color: #4CAF50;
  			color: white;
  			padding: 16px 20px;
 			margin: 8px 0;
			border: none;
  			cursor: pointer;
 			width: 60%;
  			opacity: 0.9;
}
			 
            .text
            {
            display: inline-block;
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
             box-sizing: content-box;
            float: none;
            z-index: auto;
            width: auto;
            height: auto;   
            position: static;
            cursor: default;
            opacity: 1;
            margin: 0;
            padding: 6px 20px;
            overflow: visible;
            -webkit-border-radius: 32px / 54px;
            border-radius: 32px / 54px;
            font: normal 18px/normal "Coda", Helvetica, sans-serif;
            color: rgba(0,142,198,1);
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            background: rgba(252,252,252,1);    
            -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2) inset;
            box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2) inset;
            text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
            -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
            -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
            -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
            transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
            -webkit-transform: none;
            transform: none;
            -webkit-transform-origin: 50% 50% 0;
            transform-origin: 50% 50% 0;            
           
            }
    
         fieldset{	border: 1px solid #ddd;
					padding: 0 1.4em 1.4em 1.4em;					   
					margin: 0 0 1.5em 0;					   
					border -radius: 80px;
					position: relative;
					margin:0 5px;
					margin:0 5px;					   
										   }
										   
										   
         .headerhome {
    background-image: url(logo-print.png);
    border-style: solid;
    border-color: #000000;
	border-									   
    position: fixed;
    height: 110px;
    width: 280px;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: auto;
}
       
										   
										   
		.navbar {
    align-self: auto;
    list-style-type: square;  
    align-items: flex-start;

    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: medium;
    background-color: #984FC8;
    letter-spacing: normal;
    word-spacing: normal;
    display: block;
}
         
